@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

li{
    list-style: none;
}

.article {
    margin-top: 5px;
    text-align: justify;
}
.article p {
    margin-bottom: 10px;
}

.article ul li a strong{
    color: blue;
    font-size: small;
    font-weight: 500;
}